# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
env/
venv/
ENV/
VENV/
venv.bak/
venv_env/
.virtualenv/

# Pygame cache and config files
*.pyo
pygame.cfg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
coverage.xml
nosetests.xml
pytest_cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Anaconda environments
.conda/

# Local environment variables
.env
.env.*

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Other files
*.orig
